.contenedor{
    margin-left:40%;
    border: 2px solid black;
    width: 200px;
    height: 300px;
    padding: 20px;
    background-color: rgb(62, 62, 66);
    color:white;
}
.h31{
    color:rgb(247, 185, 17);
}
.resultados{
    border: 2px solid black;
    width: 350px;
    height: 300px;
    padding: 20px;
    background-color: rgb(62, 62, 66);
    color:white;
}
.h32{
    color:#7d7df3;
    text-decoration: underline;
}